.chips-container {
  background-color: var(--surface1);
  padding-block: 1rem;
  border-block-end: 1px solid var(--surface4);
  padding-inline: 2rem;
  position: relative;
}

.chips__list {
  overflow-x: auto;
  overflow-y: hidden;
}

.chips__list::-webkit-scrollbar {
  display: none;
}

.chips__item {
  border: 1px solid var(--surface4);
  border-radius: 20px;
  inline-size: max-content;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}

.chips__item > button {
  color: var(--text1);
}

.chip-right,
.chip-left {
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.chip-right {
  inset-inline-end: 5px;
}

.chip-left {
  inset-inline-start: 5px;
}

.chips__category > label {
  font-size: 1rem;
}

.chips__item--selected {
  background-color: var(--surface2);
}

.chips__item--selected > button {
  color: var(--light-clr);
}
