.hm-pg__header-wrapper,
.home-main-pg__wrapper,
.home__footer-wrapper,
.home-page__categories__wrapper {
  inline-size: min(90%, 1400px);
  margin-inline: auto;
}

.home-nav {
  padding-block: 2rem;
  align-items: center;
}

.home-nav__list:first-of-type {
  margin-inline-end: auto;
}

.home-nav__title {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.home-nav__list--links {
  gap: 2rem;
  font-size: 1.15rem;
  align-items: center;
}

.home-nav__get-started {
  margin-inline-start: 2rem;
  border-radius: 4px;
  background-color: var(--brand);
}

.home-nav__get-started > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand);
}

.home-hero {
  margin-block-start: 3rem;
  grid-template-columns: 1fr 1fr;
}

.home-hero__img-container > img {
  object-fit: cover;
}

.home-hero__title {
  font-size: calc(var(--fs-900-small) + 0.3rem);
  line-height: 1.3;
  margin-block: 1rem;
}

.home-hero__actions {
  margin-block-start: 2rem;
  gap: 2rem;
}

.home-hero__explore {
  border: 1px solid var(--surface3);
}

.home-hero__explore > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hm-pg__main {
  margin-block-start: 8rem;
  padding-block: 7rem;
  background-color: var(--surface3);
}

.home-main-pg {
  text-align: center;
}

.home-main-pg__title {
  font-size: calc(var(--fs-900-small) + 0.3rem);
  line-height: 1.3;
  max-inline-size: 30ch;
  margin-inline: auto;
}

.home-main-pg__description {
  font-size: 1.2rem;
  max-inline-size: 60ch;
  margin-inline: auto;
  margin-block-start: 1rem;
}

.home__footer {
  margin-block-start: 5rem;
}

/* --------- */
/* Footer */
/* --------- */

.footer__wrapper {
  inline-size: min(90%, 1400px);
  margin-inline: auto;
  margin-top: auto;
}

.footer {
  margin-block-start: 9rem;
  background-color: var(--clr-secondary);
  color: var(--light-clr);
  padding-inline: 0;
  padding-block: 1.5rem;
  text-align: center;
}

.footer__brand {
  font-family: 'Pacifico', cursive;
  font-size: var(--fs-700);
  font-weight: bold;
}

.footer__list {
  flex-direction: column;
}

.footer__list > .footer__items {
  font-size: var(--fs-500);
}

.footer__items {
  font-weight: lighter;
}

.footer__description {
  max-inline-size: 35ch;
  margin-inline: auto;
}

.footer__socials {
  justify-content: center;
}

/* ---------- */
/* categories */
/* ---------- */

.home-page__categories {
  margin-block-start: 8rem;
}

.hm-categories__item {
  block-size: 350px;
  max-width: 25rem;
  min-width: 22rem;
  scroll-snap-align: center;
}

.hm-categories__item > .card {
  border-radius: 8px;
  border: 2px solid var(--surface3);
  cursor: pointer;
}

.hm-categories__item:hover > .card {
  border: 2px solid var(--brand);
}

.hm-categories__container {
  overflow: hidden;
  overflow-x: auto;
  padding-block: 2.5rem;
  gap: 2.5rem;
  scroll-snap-type: x mandatory;
  margin-block-start: 3rem;
}

.hm-categories__container > .card {
  inline-size: 100%;
}

.home-page__categories__wrapper > h1 {
  font-size: var(--fs-800);
  text-align: center;
}

.home-actions__get-started > a,
.home-actions__category > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--brand);
}

/* ----------- */
/* Media Query */
/* ----------- */

@media (min-width: 500px) {
  .footer {
    text-align: left;
  }

  .footer__list {
    flex-direction: row;
  }

  .footer__description {
    margin-inline: unset;
  }

  .footer__socials {
    justify-content: end;
  }
}

@media (max-width: 900px) {
  .home-hero__img-container {
    display: none;
  }

  .home-hero {
    grid-template-columns: 1fr;
  }
}
