.thumbnail {
  aspect-ratio: 16 / 9;
  position: relative;
  cursor: pointer;
}

.thumbnail__image-container {
  border-radius: 5px;
}

.thumbnail__img {
  border-radius: 5px;
}

.thumbnail__content {
  padding-inline: 0.5rem;
  padding-block: 0.8rem;
  align-items: center;
  position: relative;
}

.th-content__profile {
  align-self: flex-start;
}

.th-content__actions {
  margin-inline-start: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: var(--text1);
}

.thumbnail:hover .th-content__actions {
  opacity: 1;
  pointer-events: all;
}

.th-content__description {
  align-self: flex-start;
  text-align: start;
  color: var(--text1);
}

.thumbnail__title {
  font-size: 1rem;
  inline-size: 80%;
}

.thumbnail__author,
.thumbnail__counts {
  font-size: 0.8rem;
  opacity: 0.8;
}

@media (pointer: coarse) {
  .th-content__actions {
    opacity: 1;
    pointer-events: auto;
  }
}
