.thumbnail {
  aspect-ratio: 16 / 9;
  position: relative;
}

.thumbnail__image-container {
  border-radius: 30px;
}

.thumbnail__img {
  border-radius: 30px;
}

.thumbnail__content {
  padding-inline: 0.5rem;
  padding-block: 0.8rem;
  align-items: center;
}

.th-content__profile {
  align-self: flex-start;
}

.th-content__actions {
  margin-inline-start: auto;
  display: none;
}

.thumbnail:hover .th-content__actions {
  display: block;
}

.th-content__description {
  align-self: flex-start;
}

.thumbnail__title {
  font-size: 1rem;
}

.thumbnail__author,
.thumbnail__counts {
  font-size: 0.8rem;
  opacity: 0.8;
}
