.upload-form__overlay {
  position: fixed;
  inset: 0;
  z-index: 20;
  background-color: rgba(74, 74, 75, 0.588);
}

.upload-form__wrappper {
  background-color: var(--surface3);
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  padding-block: 1rem;
  padding-inline: 0.8rem;
  inline-size: min(90%, 400px);
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07);
  max-block-size: 35rem;
  overflow: hidden;
  overflow-y: auto;
  z-index: 21;
  animation: fade 250ms ease-in-out;
}

.upload-form__input {
  inline-size: 100%;
  display: inline-block;
  padding-block: 0.4rem;
  padding-inline: 0.5rem;
  margin-block-start: 0.3rem;
  background: none;
  border: 1px solid rgba(83, 83, 83, 0.495);
}

.upload-form__label {
  font-size: 1rem;
}

.upload-form__title {
  text-align: center;
  margin-block-end: 0.5rem;
}

textarea {
  resize: vertical;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
