.search-results {
  margin-block-start: 1rem;
}

.search-results__wrapper {
  inline-size: 95%;
  margin-inline: auto;
}

.search-results__container {
  margin-block-start: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
