.playlist {
  margin-block-start: 1rem;
  margin-inline: auto;
}

.playlist__top {
  inline-size: 95%;
  margin-inline: auto;
  gap: 0.5rem;
}

.playlist__container {
  margin-block-start: 1.5rem;
  inline-size: 95%;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.dialog__action-btn {
  border: 1px solid var(--surface3);
  inline-size: 100%;
  align-items: center;
  transition: background-color 250ms ease-in-out;
}

.dialog__header {
  padding-block: .2rem;
  font-size: 1rem;
}

.dialog__action-btn:hover {
  background-color: var(--surface3);
}

.dialog__form {
  block-size: min-content;
}

.dialog__create-playlist {
  padding-block-start: 1rem;
}

.dialog__create-playlist label {
  font-size: 1rem;
}

.dialog__create-playlist input {
  inline-size: 100%;
  padding-block: .3rem;
  padding-inline: .3rem;
  font-size: .8rem;
  border: none;
  background: none;
  border-bottom: 1px solid var(--surface4);
  outline: none;
}

.dialog__create-playlist input:focus {
  border-color: var(--text2)
}

.playlist-create-enter {
  margin-block-start: 1rem;
  margin-block-end: 0;
  margin-inline-start: 60%;
  block-size: 40px;
  padding-inline: 20px;
  border: 1px solid var(--brand);

}