.playlist {
  margin-block-start: 1rem;
  margin-inline: auto;
}

.playlist__top {
  inline-size: 95%;
  margin-inline: auto;
  gap: 0.5rem;
}

.playlist__container {
  margin-block-start: 1.5rem;
  inline-size: 95%;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
