@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
  padding-block: 1rem;
  position: sticky;
  inset-block-start: 0;
  border-block-end: 1px solid var(--surface4);
  background-color: var(--surface1);
  z-index: 12;
}

.navbar__wrapper {
  inline-size: 95%;
  margin-inline: auto;
  position: relative;
}

.navbar__search-group {
  align-items: center;
  padding-block: 0.4rem;
  padding-inline: 0.4rem;
  inline-size: 15rem;
  border-radius: 5px;
  display: none;
  background-color: var(--surface3);
}

.navbar__search-group:focus-within {
  outline: 1px solid var(--text2);
}

.navbar__input-field {
  flex: 1;
}

.navbar__input,
.mobile-search__input {
  background: none;
  border: none;
  outline: none;
  inline-size: 100%;
}

.navbar__list--right {
  margin-inline-start: auto;
  align-items: center;
  gap: 1.5rem;
}

.navbar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text1);
}

.navbar__start-stream {
  border: 1px solid black;
  padding-block: 0.8rem;
  padding-inline: 0.4rem;
  border-radius: 10px;
}

.navbar__item--display {
  display: none;
}

.navbar__list--logos {
  align-items: center;
}

.navbar--hide {
  display: block;
}

.navbar__menu--hide {
  display: block;
}

.navbar__icon {
  background: var(--surface4);
  border-radius: 5px;
  padding: 8px;
}

.navbar-icon--search {
  background: none;
}

.navbar__logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  color: var(--brand);
}

.navbar__item--profile {
  display: none;
}

.navbar__upload {
  background-color: var(--brand);
}

.navbar--mobile-search {
  position: absolute;
  background-color: var(--surface3);
  inline-size: 100%;
}

.mobile-search__search-group {
  align-items: center;
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--surface3);
}

@media (min-width: 600px) {
  .navbar__item--profile {
    display: block;
  }

  .navbar__search-group {
    display: flex;
    margin-inline-start: 0.5rem;
  }

  .navbar__menu--hide {
    display: none;
  }

  .navbar--mobile-search {
    display: none;
  }
}

@media (min-width: 800px) {
  .navbar__search-group {
    display: flex;
  }

  .navbar__item--display {
    display: block;
  }

  .navbar--hide {
    display: none;
  }

  .navbar__menu--hide {
    display: none;
  }
}

@media (min-width: 1000px) {
  .navbar__search-group {
    inline-size: 30rem;
  }
}

@media (min-width: 1400px) {
  .navbar__item--display {
    display: block;
    padding-block: 0.5rem;
    padding-inline: 0.4rem;
  }

  .navbar {
    padding-block: 0.5rem;
  }

  .navbar--hide {
    display: block;
  }

  .navbar__menu--hide {
    display: none;
  }

  .navbar__item--logo {
    display: none;
  }

  .navbar__search-group {
    padding-block: 0.4rem;
    border: 1px solid var(--surface3);
    inline-size: 30rem;
    margin-inline-start: 0;
  }
}
