.sidebar {
  block-size: 100vh;
  background-color: rgba(141, 141, 141, 0.062);
  position: fixed;
  inline-size: 100px;
  display: none;
}

.sidebar__top {
  padding-block: 1.5rem;
}

.s-top__list {
  align-items: baseline;
  justify-content: space-evenly;
}

.s-top__wrapper,
.s-bottom__item-wrapper {
  inline-size: 80%;
  margin-inline: auto;
}

.s-top__logo {
  font-size: var(--fs-800);
  font-family: var(--ff-sans-normal);
  line-height: 1.1;
}

.s-top__items--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__bottom {
  block-size: calc(100vh - 5rem);
  margin-block-start: 1rem;
  padding-block-end: 2rem;
}

.s-bottom__item-wrapper {
  text-align: center;
}

.s-bottom__items {
  padding-block: 0.8rem;
  transition: background-color 250ms ease-in-out;
  position: relative;
}

.s-bottom__items:hover::before {
  content: "";
  position: absolute;
  block-size: 40%;
  inline-size: 4px;
  background-color: var(--brand);
  inset-inline-start: 0;
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.s-bottom__items:hover {
  background-color: var(--surface3);
}

.s-bottom__list--logout {
  margin-block-start: auto;
}

.s-bottom__item-icon--main {
  border: 1px solid black;
  inline-size: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-top__items--logo {
  display: block;
  color: var(--brand);
}

.s-top__logo {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.size-30 {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  .sidebar {
    display: block;
  }

  .s-bottom__item-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .s-top__items--logo {
    display: none;
  }

  .s-bottom-item-name > p {
    font-size: 0.7rem;
  }
}

@media (min-width: 1400px) {
  .sidebar {
    inline-size: 280px;
  }

  .s-top__items--logo {
    display: block;
  }

  .s-top__list {
    justify-content: start;
  }

  .s-bottom__item-wrapper {
    flex-direction: row;
    gap: 1rem;
  }

  .s-bottom-item-name > p {
    font-size: 1rem;
  }
}
