.video-page {
  margin-block-start: 1.5rem;
  inline-size: 95%;
  margin-inline: auto;
}

.video-page__main {
  grid-template-columns: 70% minmax(0, 1fr);
  gap: 2rem;
}

.video-page__additionals {
  margin-block-start: 2rem;
  grid-template-columns: 70% 1fr;
  gap: 2rem;
}

.vd-desc__profile {
  align-items: center;
}

.vd-desc {
  display: grid;
  grid-template-columns: 60% 1fr;
  justify-content: space-between;
  align-items: baseline;
}

.video-page__title {
  font-size: var(--fs-800);
  line-height: 1.3;
}

.vp-actions__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text1);
}

.vp-actions__top {
  gap: 2rem;
}

.vp-actions__bottom {
  margin-block-start: 2rem;
}

.related-vd__title {
  font-size: var(--fs-700);
  margin-block-end: 1rem;
}

.vd-desc__right {
  margin-inline-start: auto;
}

.related-vd {
  padding-block-end: 1rem;
}

.related-vd__container {
  grid-template-columns: minmax(0, 1fr);
}

@media (max-width: 900px) {
  .video-page__notes {
    display: none;
  }

  .video-page__main {
    grid-template-columns: minmax(0, 1fr);
  }

  .video-page__additionals {
    grid-template-columns: 1fr;
  }

  .vp-actions__top {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .video-page__additionals {
    margin-block-start: 2rem;
    grid-template-columns: minmax(0, 1fr);
  }

  .vd-desc {
    grid-template-columns: minmax(0, 1fr);
  }

  .vd-desc__right {
    margin-inline-start: unset;
    grid-row: 1;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
  }

  .vd-desc__right::-webkit-scrollbar {
    opacity: 0;
  }

  .vp-actions__bottom {
    margin-block-start: 0;
    grid-auto-flow: column;
    margin-inline-start: 2rem;
    gap: 1.5rem;
  }

  .vd-desc__left {
    margin-block-start: 2rem;
  }

  .vp-actions__top {
    gap: 1.5rem;
  }
}
