.App {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

.video-listing {
  grid-column: 1;
}

@media (min-width: 800px) {
  .App {
    grid-template-columns: 100px minmax(0, 1fr);
  }

  .video-listing {
    grid-column: 2;
  }
}

@media (min-width: 1400px) {
  .App {
    grid-template-columns: 280px minmax(0, 1fr);
  }

  .video-listing {
    grid-column: 2;
    margin-inline-end: 1rem;
  }
}
