:root {
  --brand: #ecb365;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main-ar {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

.main-ar__feed {
  grid-column: 1;
}

body {
  background-color: var(--surface1);
  color: var(--text1);
}

@media (min-width: 600px) {
  .main-ar {
    grid-template-columns: 100px minmax(0, 1fr);
  }

  .main-ar__feed {
    grid-column: 2;
  }
}

@media (min-width: 1400px) {
  .main-ar {
    grid-template-columns: 230px minmax(0, 1fr);
  }

  .main-ar__feed {
    grid-column: 2;
    margin-inline-end: 1rem;
  }
}
